html,
body {
    height: 100%;
    font-family: "Open Sans", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", "serif";
}

h1 {
    font-size: "30px";
}

h2 {
    font-weight: lighter;
}

.intro {
    margin-bottom: 10px;
}

.creator {
    font-weight: bold;
}

.container {
    background-color: rgba(218, 218, 218, 0.726);
}

.program {
    padding-left: 2em;
}