header {
    text-align: center;
}

.titre {
    background-color: lightgray;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 2px;
    width: 48%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.img {
    max-width: 100%;
    height: auto;
}

.description {
    text-align: left;
    padding: 0 1em 0 1em;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    margin-top: 0;
}

.date-publication {
    text-align: center;
    color: lightslategray;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}