<h1>Rapport de web sémantique</h1>
<span>Par <strong>Maurane Glaude</strong></span>

<h2>Sommaire</h2>
<ul>
    <li><a href="#chap1">Description du projet</a></li>
    <li><a href="#chap2">Réalisation</a></li>
    <li><a href="#chap3">Fonctionnement & Contenu</a></li>
    <li><a href="#chap4">Bilan & Difficultés rencontrées</a></li>
    <li><a href="#chap5">Conclusion</a></li>
</ul>

<h2 id="chap1">Description du projet</h2>
<p>
    Dans le cadre du cours de web sémantique, il m'était demandé de réaliser un portfolio en ligne comprenant mes TP de web sémantique et mon CV au minimum. Ce projet avait pour contraintes : - la disponibilité du contenu en trois langues différentes dont
    le français et une langue non latine (la troisième était au choix) - une page du portfolio devait être compatible avec RDFa - le portfolio devait être réalisé individuellement - utiliser au mieux les technologies du web sémantique.
</p>
<hr>

<h2 id="chap2">Réalisation</h2>
<h3>Réflexion</h3>
<p>
    Afin de réaliser ce projet, j'ai commencé par une phase de réflexion. La contrainte des langues impliquait qu'il fallait réfléchir au contenu qui traduisible et donc modulable. La contrainte de compatibilité avec le RDFa impliquait qu'au moins une page
    devait être de type HTML + RDFa et est étroitement liée à la contrainte d'utilisation pertinente des technologies du web sémantique.
</p>
<hr>
<h3>Recherches</h3>
<p>
    Grâce aux connaissances acquises durant certains TPs de Web Sémantique, j'ai pensé au transformateur XSLT qui permettrait de transformer une page en une autre mais aussi une page de données en une page HTML dont le résultat est visible par un être humain.
    Bien qu'ayant cherché des exemples de sites multilingues statiques, aucun de ceux que j'avais pu consultés ne parlait d'un moyen simple d'automatisation de traduction. J'ai donc opté pour une méthode mécanique :
</p>
<ul>
    <li>chaque langue aurait sa version du contenu dans un fichier XML</li>
    <li>ces trois fichiers seraient liés au même fichier XSL</li>
    <li>aucun contenu traduisible n'existerait dans le fichier XSL</li>
    <li>le RDFa se trouverait dans le fichier XSL pour chacune des pages</li>
</ul>

<p>
    Ainsi, j'utiliserai au maximum le XML pour les données traduisibles, le XSL pour leur affichage, le RDFa pour leur sémantique, les DTD pour leur constance au fil du temps (si une erreur survient lors d'un ajout, ils me l'indiquent). Les pages sont donc
    toutes compatibles avec RDFa.

    <h2 id="chap3"> Fonctionnement & Contenu</h2>
    <p>
        Mon portfolio existe en trois langues : le français (première contrainte), le vietnamien (qui est non latine mais qui s'écrit avec des caractères latin) et le thaïlandais (contrainte de la langue non latine). Il se divise en quatre parties (quatre dossier)
        :
    </p>

    <ul>
        <li>l'accueil</li>
        <li>mon parcours (CV)</li>
        <li>mes travaux (trois TP de web sémantiques et trois réalisations hors cours s'y trouvent)</li>
        <li>ma description (à propos)</li>
    </ul>

    <p>
        Chaque partie dispose de trois versions pour chaque des langues et, de ce fait, de trois fichiers XML. Mon hébergement nécessitant un fichier index.html comme point de départ pour mon site, je devais tout de même avoir un fichier html non transformé.
        Remarque : le document index.html ne fait référence qu'à tous les autres fichiers .xml et jamais à lui même. Pour changer de langue, il est possible d'utiliser le dernier bouton figurant à la droite de la barre de navigation qui affiche un menu
        déroulant. J'ai utilisé les typographies provenant de Google Fonts Merriweather et Prompt qui sont référencées en en-tête. Elles ont été choisies en fonction de leur capacité à représenter les caractères des trois langues prévues. Les images utilisées
        ne m'appartenant pas sont libres de droits et sont liées à leur auteur respectif.
    </p>

    <h2 id="chap4">Bilan & Difficultés rencontrées</h2>
    <h3>Bilan</h3>
    <p>
        Lors de la réalisation de ce projet, j'ai pu apprendre grandement sur les différentes ontologies existantes. En effet, il en existe de toutes sortes écrites par des universités, des organisations scientifiques, d'entreprises ou même d'une personne singulière.
        Elles peuvent avoir pour but de décrire les entités dans le monde d'une seule personne comme dans le monde entier. Et il en existe ainsi que quelques unes citées par W3c qu'il faut retenir pour une universalité du sens des données : dc, pour les
        descriptions de documents, et foaf, pour les descriptions de personnes et leurs relations, qui font parties des <a href="https://www.w3.org/wiki/Good_Ontologies">Good Ontologies</a>. Mais aussi ical pour les événements, cc pour les licenses
        de droits, geo pour les localisations géographiques font aussi parties des ontologies citées par W3c. J'ai appris également que le XHTML était du XML utilisant l'ontologie du HTML, qu'il était possible de créer une page XHTML5 et non être limité
        au XHTML4 contrairement à beaucoup d'exemples, à gérer plusieurs documents pour une même feuille de style XSL. Mais j'ai surtout appris à gérer les données que je souhaite transmettre et manipuler en les marquant ou en les définissant grâce aux
        balises 'meta'.
    </p>

    <h3>Difficultés</h3>
    <p>Les sources de documentation des différentes technologies du web sémantiques pouvaient souvent ne plus être à jour, floues ou incomplètes. Je ne sais donc pas si j'ai acquis les bons réflexes et si tout mon contenu est bien géré. Pour le RDFa, il
        n'était pas simple de trouver quelle ontologie utiliser et leur documentation. La manière de traduire le site est très mécanique et je n'ai trouvé que des documents qui demandent à respecter certaines normes d'internationnalisation (W3C) et que
        j'ai suivi.
    </p>

    <h2 id="chap5">Conclusion</h2>
    <p>
        Pour conclure, ce projet m'a permis de reprendre totalement mon portfolio précédent en lui apportant beaucoup plus de contenu mais aussi de sens grâce aux technologies du web sémantique. C'est en le réalisant que j'ai pu revoir ou apprendre le fonctionnement
        des ontologies ou d'espaces de noms majoritairement.
    </p>