:root {
    --type_writer_speed: 1.5s;
    --type_writer_delay: 2s;
}

body,
html {
    height: 100%;
    font-family: 'Prompt', sans-serif;
}

h1,
h2,
h4,
h6 {
    font-family: 'Merriweather', serif;
    color: #450689;
}

header,
footer {
    background-color: white;
}

a,
a:link,
a:any-link {
    color: #450689!important;
    font-family: 'Merriweather', serif;
}


/** **/

aside section {
    margin-bottom: 3em;
}

.sous-titre h5 {
    margin-right: 0.5em
}

#details,
.tile {
    background-color: #FACA9E;
}

aside,
main {
    font-family: 'Prompt', sans-serif;
}

.card-img-overlay,
.card-img-overlay p {
    opacity: 0;
    transition: .25s ease;
    background-color: #FACA9E;
}

.card:hover .card-img-overlay,
.card:hover .card-img-overlay p {
    opacity: 1;
}


/*** HEADER ***/


/** MAIN **/

main#index {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#salutation {
    position: relative;
    width: max-content;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

/* animation presentation */
#salutation::before,
#salutation::after {
    content: '';
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#salutation::before {
    background: white;
    animation: type_writer var(--type_writer_speed) steps(10) forwards var(--type_writer_delay);
}

#salutation::after {
    width: 0.05em;
    background: #450689;
    animation:
        type_writer var(--type_writer_speed) steps(10) forwards var(--type_writer_delay),
        blink 1.25s steps(2) infinite;
}

@keyframes type_writer {
    to {
        left: 100%
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#presentation {
    opacity: 0;
    transform: translateY(3rem);
    animation: fade_in_up 2s ease calc(var(--type_writer_speed) + var(--type_writer_delay)) forwards;
}

@keyframes fade_in_up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}