html,
body {
    height: 100%;
}

.frame {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s ease-in-out alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 999;
    }
    to {
        stroke-dashoffset: 0;
    }
}